.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    max-width: 400px;
    margin: 60px auto;
    width: 2000px;
    height: 100px;
}
.day {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(216, 65, 239, 0.6);
    border-radius: 5px;
    color : black;
    cursor: pointer;
    font-size:15px;
    justify-content: flex-start;
    
}
.saturday{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(216, 65, 239, 0.6);
    color:blue;
    border-radius: 5px;
    cursor: pointer;
    font-size:15px;
    justify-content: flex-start;
}
.sunday {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(216, 65, 239, 0.6);
    color:red;
    border-radius: 5px;
    cursor: pointer;
    font-size:15px;
    justify-content: flex-start;
}
.schedule
{
    color: white;
    font-size: 10px;
}
